body {
    color: #707070;
    font-size: ;
    line-height: 1.75;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
}

a {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #ffa7a7;
}

li {
    list-style: none;
}

header {
    background: #fff;
    right: 0;
    line-height: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-top: 50px;
}

.logo {
    display: none;
}

footer {
    text-align: center;
    font-size: 11px;
    padding-bottom: 20px;
}


/*------ ページトップイメージ ---*/

.top-img {
    padding-top: 50px;
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-img h1 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    font-size: 28px;
    line-height: 1.5;
}


/*------ コンテンツエリア　共通デザイン ---*/

.container {
    width: 100%;
}

.content {
    width: 80vw;
    margin: 0 auto 70px;
}

.content img {
    width: 80vw;
}

.container h2,
.content h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.container h2 img,
.content h2 img {
    width: auto;
}


/*------ 目次のデザイン ---*/

.mokuji {
    width: 80vw;
    margin: 50px auto 90px;
}

.mokuji h4 {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0 35vw;
    margin-bottom: 50px;
}

.mokuji h4::before,
.mokuji h4::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 33vw;
    height: 1px;
    background-color: #707070;
}

.mokuji h4::before {
    left: 0;
}

.mokuji h4::after {
    right: 0;
}

.mokuji ul li {
    position: relative;
    padding-left: 10px;
}

.mokuji ul li::before {
    position: absolute;
    content: "";
    display: block;
    border-left: 5px solid #ffa7a7;
    height: 20px;
    top: 4px;
    left: 0;
}


/*------ ホームのデザイン ---*/

#home .top-img {
    background-image: url(../img/img2017011018374258037800.jpg);
    height: 280px;
}

#home .top-img h1 {
    font-size: 34px;
}

.find-links {
    padding-bottom: 20px;
}

.find-map,
.find-area {
    display: block;
    margin: 0 auto 50px;
    padding: 10vh 0;
    width: 70vw;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
}

.find-map:hover,
.find-area:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.find-map {
    background-image: url(../img/flower1.jpg);
}

.find-area {
    background-image: url(../img/flower2.jpeg);
}

.column {
    font-size: 10px;
}

.care-box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.care-left img,
.season-box img {
    width: 70vw;
    height: auto;
}

.care-right {
    margin-left: 10px;
    margin-right: 10px;
}

.gift-right {
    text-align: end;
}

.gift-right img {
    width: 75vw;
}

.gift-center {
    margin: 30px auto 40px;
    width: 50vw;
}

.season-box {
    padding-bottom: 70px;
}


/*------ ホームのデザイン ---*/

#care .top-img {
    height: 160px;
}

#care .top-img {
    background-image: url(../img/flower9.jpg);
}

.first-todo {
    background-color: #ffd6d6;
}

.point-box {
    background-color: #d6f1ff;
}


/*------ 新着記事部分デザイン --------*/

.column-top-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.column-top-list li {
    margin-bottom: 1rem;
    border: 1px solid #888;
}

@media screen and (max-width:767px) {
    .column-top-list li {
        width: 100%;
        max-width: 500px;
        margin: 10px auto;
    }
}

@media screen and (min-width:768px) {
    .column-top-list li {
        width: 33%;
    }
}

.column-top-list li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.column-top-list li a img {
    border: 0;
    display: block;
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.column-top-list li time {
    padding-left: 1rem;
}

.column-top-list li h3 {
    font-size: 1.2rem;
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 0;
}

.column-list-button {
    display: block;
    text-align: center;
    margin: 50px auto 100px auto;
    background-color: #999;
    width: 300px;
    padding: 1rem 0;
}

.column-list-button a {
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}


/*------ 記事一覧ページ -----*/

.kiji-top {
    margin-top: 120px;
}


/*------ 以下PC版デザイン ---*/

@media only screen and (min-width:768px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    footer {
        font-size: 27px;
        padding-bottom: 50px;
    }
    #care .top-img {
        height: 300px;
    }
    /*------ ホームのデザイン ---*/
    #home .top-img {
        height: 682px;
    }
    #home .top-img h1 {
        font-size: 90px;
    }
    .find-links {
        display: flex;
    }
    .find-map,
    .find-area {
        display: block;
        padding: 18vh 0;
        width: 45%;
        font-size: 44px;
    }
    .column {
        font-size: 18px;
    }
    .care-box {
        margin-bottom: 90px;
    }
    .care-left img,
    .gift-right img,
    .season-box img {
        width: auto;
    }
    .care-right {
        margin-left: 30px;
        margin-right: 0;
    }
    .gift-center {
        margin: 70px auto;
        width: 420px;
    }
    .season-box {
        margin-bottom: 90px;
    }
}